body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  display: table-row;
  width: 50%;
  padding: 20px;
  border-right: 2px solid yellow;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border-right: 2px solid yellow;
}

.ContainerForm {
  background-color: green;
  border: 50px color(green);
}